html,body{
    height: 100%;
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 14px;

}


.main-content{
    margin-left: 0;
}

.breadcrumbs{
    min-height: 41px;
    line-height: normal;
}
.breadcrumb {
    margin-left: 10px;
    margin-top: 11px;
    font-size: 14px;


}


.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0px;
    vertical-align: middle;
}

.table-bordered > thead > tr,
.table-bordered > tbody > tr,
.table-bordered > tfoot > tr,
.table-bordered > thead > tr,
.table-bordered > tbody > tr,
.table-bordered > tfoot > tr {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

#myform label.error {
    margin-left: 10px;
    padding: 3px 8px 3px 8px;
    width: auto;
    display: inline;
    color: white;
    background: #e28b8c;
    border: 1px dotted #fa5b5a;

}

a:link { text-decoration: none;}
a:active { text-decoration:blink}
a:hover { text-decoration:none;}
a:visited { text-decoration: none;}

.btn.btn-app.btn-xs.re>[class*=icon] {
    font-size: 14px;
    line-height: 12px;
}
.btn.btn-app.btn-xs.re {
    margin-top: 0;
    width: 29px;
}

.form-control {
    height: auto;
    /*padding-top: 3px;*/
    /*padding-bottom: 3px;*/
}

.btn{
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.col-md-offset-3{
    margin-left: 20%;
}

input[type=checkbox].ace.ace-switch.ace-switch-6:checked + .lbl::before {
    background-color: #27b437;
    border-color: #198a1c;
}