{%extends file="base.html"%}
{%block name="css"%}
<style>
    body {
        overflow: hidden;
    }

    .login-layout {
        height: 100%;
    }
</style>
{%/block%}
{%block name="body"%}
<div class="login-layout">

    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-gears green"></i>
                                <span class="red">APP</span>
                                <span class="white" id="id-text2">管理系统</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Company Name</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            请输入账号
                                        </h4>

                                        <div class="space-6"></div>

                                        <form  class="form-horizontal" id="validation-form" method="post" role="form">
                                            <fieldset>
                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control"
                                                                   placeholder="username" name="username" id="username"  />
															<i class="ace-icon fa fa-user" style="margin-top: 2px"></i>
														</span>
                                                </label>

                                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
                                                                   placeholder="password" id="password" name="password" />
															<i class="ace-icon fa fa-lock"
                                                               style="margin-right: 3px;margin-top: 2px"></i>
														</span>
                                                </label>

                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    <!--<label class="inline">-->
                                                    <!--<input type="checkbox" class="ace" />-->
                                                    <!--<span class="lbl"> Remember Me</span>-->
                                                    <!--</label>-->

                                                    <button type="submit"
                                                            class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">登录</span>
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>


                                    </div>
                                    <!-- /.widget-main -->


                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.login-box -->


                        </div>
                        <!-- /.position-relative -->


                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container -->

</div>
{%/block%}

<
{%block name="js"%}
<script>
      $(function(){

          jQuery.validator.addMethod("username", function (value, element) {
              return this.optional(element) || /^[_a-zA-Z0-9]+$/.test(value);
          }, "账号只能包含数字，字母，下划线");
          $('#validation-form').validate({
              errorElement: 'div',
              errorClass: 'help-block',
              focusInvalid: false,
              rules: {
      
             
            password: {
                      required: true,
                      minlength: 4,
                      maxlength: 15
                  },
                  username: {
                      required: true,
                      minlength: 3,
                      maxlength: 15,
                      username: 'required'
                  }
        
        
              },

              messages: {
                  password: {
                      required: "请输入密码",
                      minlength: "密码需要4-12个字符",
                      maxlength: "密码需要4-15个字符"
                  },
                  username: {
                      required: "请输入账号",
                      minlength: "账号需要3-15个字符",
                      maxlength: "账号需要3-15个字符"
                  },
      
              },



              highlight: function (e) {
                  $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
              },

              success: function (e) {
                  $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                  $(e).remove();
              },

              errorPlacement: function (error, element) {
                  if(element.is(':checkbox') || element.is(':radio')) {
                      var controls = element.closest('div[class*="col-"]');
                      if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                      else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                  }
                  else if(element.is('.select2')) {
                      error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                  }
                  else if(element.is('.chosen-select')) {
                      error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                  }
                  else error.insertAfter(element.parent());
              }


          });
      });
</script>
{%/block%}